{% extends "layout.html" %}
{% load question_extras %}

{% block title %}{{ choice.choice_text }} - {{ choice.question.question_text}}{% endblock %} 

{% block content %}
<article>
    <h2>
        <a href="{% url 'polls:detail' pk=choice.question.id %}">{{ choice.question.question_text }}</a>
    </h2>
    <h3>{{ choice.choice_text }}</h3>
    {{ choice.content|markdown_to_html }}
    {% with con=choice.content %}
      {{ con|linebreaks }} Content: {{ con|wordcount }} words. Estimated time to complete: 
      {{ con|wordcount|time_estimate }} minute{{ con|wordcount|time_estimate|pluralize }}.
    {% endwith %}
</article>
{% endblock %}
