{% extends "layout.html" %}
{% load humanize question_extras %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<article>
  <h2>{{ question.question_text }}</h2>
  <p>{{ question.description|markdown_to_html }}</p>
  <p>There are {{ question.choice_set.count|apnumber }} choice{{ question.choice_set.count|pluralize }} for this question: {{ question.choice_set.all|join:", " }}</p>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <section>
    <form action="{% url 'polls:vote' question.id %}" method='post'>
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}"><a href="{% url 'polls:choice_detail' question_id=question.id pk=choice.id %}">{{ choice.choice_text }}</a></label><br/>
      {% endfor %}
      <input type="submit" value="Vote" />
    </form>
  </section>
</article>
{% endblock %}
